
html,.row-offcanvas {
  height: 100%; 
  overflow-x: hidden;
}

.row-offcanvas {
  padding-top: 1px;
  
}
li{
  list-style: none;
}

#sidebar {
  width: inherit;
  min-width: 250px;
  max-width: 250px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#btn-map{
  float:left; 
  /*position: absolute;
  top:  160px;*/ 
  margin: 5px 5px 5px 0;
  height:12%;
  outline:0;
}
#btn-map:hover, #btn:active {
    opacity: 0.7;
    outline:0;
}
#map-wrapper{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#map {
    height:70%;
}
#well-top{
  margin: 12px 5px 5px 334px;
  height:27%;
  background-color: white; 
}

/* -------------- Dentro de sidebar -------------*/
#sidebar-inside{
  margin-top: 15px;
}
/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
 
@media screen and (max-width: 9000px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 250px);
  }

  .row-offcanvas  {
    left: -250px;
  }
  .row-offcanvas.active {
    left: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


/*------------------- Menu que cambia layers ------*/
.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active {
      background:#3887BE;
      color:#FFF;
      }
      .menu-ui a.active:hover {
        background:#3074a4;
        }

/*---------- Forms -----------*/
